/* RESPONSIVE */

/* NAVBAR */

@media (min-width: 768px){
    .mobile-nav{
        display:none
    }
    .hamburger{
        display:none
    }
}

@media (max-width: 767px){
    header .nav_container nav{
        display:none
    }
}

@media (max-width: 855px){
  header .nav_container nav{
    width: 800px;
    margin: 0 auto;
  }
}

/* FIN NAVBAR */

/* TEASER */

@media (max-width: 991px) {
	.clip video{
		max-width: 90%;
	}
}

@media (max-width: 1600px) {
	#teaser .buttonRegarder{
		font-size: calc(2vw + 1rem);
	}
}

@media screen and (max-width: 767px) {
  #teaser {
    background-position-x: -450px;
    background-size: 1600px;
  }
}

/* FIN TEASER */

/* HISTOIRE */

@media screen and (max-width: 767px) {
  #histoire h1{ 
    width: 90%;
    font-size: 8rem;
  }

  .histoire_texte div{
    margin-top: 60px;
    height: 200px;
    width: 90%;
  }

  .histoire_texte img{
    width: 60%;
    display: flex;
    margin: auto;
}

  .histoire_texte p{
    font-size: 17px;
  }
}

@media screen and (max-width: 767px) {
  #histoire h1{ 
    width: 90%;
    font-size: 8rem;
  }

@media screen and (max-width: 360px) {
  #histoire h1{ 
    width: 90%;
    font-size: 7rem;
  }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #histoire h1{ 
    width: 70%;
    font-size: 9rem;
  }

  .histoire_texte div{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    height: 250px;
  }

  .histoire_texte img{
    width: 55%;
    display: flex;
    margin: auto;
}

  .histoire_texte p{
    font-size: 17px;
    width: 350px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  #histoire h1{ 
    width: 70%;
    font-size: 9rem;
  }

  .histoire_texte div{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    height: 250px;
  }

  .histoire_texte img{
    width: 55%;
    display: flex;
    margin: auto;
}

  .histoire_texte p{
    font-size: 17px;
    width: 350px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1606px) {
  #histoire h1{ 
      font-size: 10rem;
  }

  .histoire_texte div{
    margin: auto;
  }

  .histoire_texte img{
    display: flex;
    margin: auto;
}

  .histoire_texte p{
    font-size: 20px;
  }
}

/* FIN HISTOIRE */

/* PERSONNAGES */

@media screen and (max-width: 767px) {
  #personnages h1{ 
    width: 80%;
    font-size: 6rem;
  }
}

@media screen and (max-width: 480px) {
  #personnages h1{ 
    width: 90%;
    font-size: 5rem;
  }
}

@media screen and (max-width: 360px) {
  #personnages h1{ 
    width: 90%;
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #personnages h1{ 
    width: 70%;
    font-size: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  #personnages h1{
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  #personnages img{
    width: 90%;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #personnages img {
    width: 80%;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  #personnages img {
    width: 70%;
    height: auto;
  }
}

/* FIN PERSONNAGES */

/* GALERIE */

@media screen and (max-width: 767px) {
  #galerie h1{
    font-size: 8rem;
    width: 80%;
  }

  .galerie_photos{
    row-gap: 60px;
    grid-template-columns: repeat(auto-fill,minmax(435px, 300px));
  }
}

@media screen and (max-width: 480px) {
  .galerie_photos{
    row-gap: 60px;
    grid-template-columns: repeat(auto-fill,minmax(370px, 300px));
  }
}

@media screen and (max-width: 360px) {
  .galerie_photos{
    row-gap: 60px;
    grid-template-columns: repeat(auto-fill,minmax(325px, 300px));
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #galerie h1{
    font-size: 8rem;
    width: 60%;
  }
}

/* FIN GALERIE */

/* AVIS */

@media screen and (max-width: 767px) {
  #avis h1{
    font-size: 8rem;
    width: 70%;
  }

  .content p {
    font-size: 19px;
    max-width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .content p {
    font-size: 19px;
    max-width: 370px;
  }

  .points {
    margin-bottom: 380px;
  }

  .avisSlider {
    margin-top: 50px;
}
}

@media screen and (max-width: 360px) {
  .content p {
    font-size: 17.5px;
    max-width: 340px;
  }

  .points {
    margin-bottom: 380px;
  }

  .avisSlider {
    margin-top: 50px;
}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #avis h1{
    width: 55%;
  }

  .content p {
    max-width: 680px;
  }
}

/* FIN AVIS */

/* FOOTER */

@media only screen and (max-width: 767px) {
  footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-droite .titreReseaux h1{
    font-size: 30px;
    margin-top: 60px;
  }

  .footer-droite a i{
    font-size: 40px;
  }

  .footer-centre p{
    margin-top: 60px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-droite .titreReseaux h1{
    font-size: 30px;
    margin-top: 60px;
  }

  .footer-droite a i{
    font-size: 40px;
  }

  .footer-centre p{
    margin-top: 60px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1350px) {
  .footer-gauche img {
    width: 80%;
  }

  .footer-centre p{
    font-size: 9px;
}

  .footer-droite .titreReseaux h1{
    font-size:25px;
  }

  .footer-droite i{
    font-size: 35px;
  }
}

/* FIN FOOTER */